:root {
  font-size: 32px;
}

#parent-01 {
  font-size: 16px;
}

#parent-01 > p {
  font-size: 0.5em;
}

#parent-01 > h1 {
  font-size: 3em;
}

#parent-02 > #child-02 {
  font-size: 2em;
}

#parent-02 > #child-02 > p {
  font-size: 1.5em;
}

#parent-03 > p {
  font-size: 3rem;
}
