a {
  color: blue;
  font-style: italic;
  font-weight: bold;
}

a:hover {
  color: red;
}

a:visited {
  color: yellow;
}

p {
  color: salmon;
}

p::first-letter {
  color: black;
}

#section > div:nth-child(2) {
  color: red;
}

#section > div:nth-child(odd) {
  color: blue;
}
